# Ignore Visual Studio Code folders
#.vscode/

# Ignore CLion folders
#.idea/


#ignore .o in build
/build/*.o

# Ignore cmake-build-debug folder
cmake-build-debug/
/cmake-build-debug/*
/cmake-build-debug
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/main.dir/src/main.c.obj
cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/Testing/Temporary
/cmake-build-debug/Testing
/cmake-build-debug
